.App {
  text-align: center;
  display: flex;
  position: relative;
}

#sidelist {
  width: 225px;
  background-color: grey;
  height: 100vh;
  position:absolute;
  /* left: 0px; */
  top: 0px;
  z-index: 2;
  transition: 0.5s;
}

#mapside {
  /* width: 75%; */
  /* position: relative; */
}

#floater {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.location-list:hover {
  cursor: pointer;
}

#error-header {
  background-color: red;
  color: white;
}
